:root.theme-dark {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --accent-color: #FF0070;
  --accent-color__opacity: #FF007066;
  --color_outline: #FF0070;
  --double-accent-color: #DB00FF;
  --text-color: #F1B2CE;
  --heading-color: #000028;
}