/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #F5F5F5;
  --accent-color: #FF8DCB;
  --accent-color__opacity: rgba(255, 141, 203, 0.4);;
  --double-accent-color: #FFC2E6;
  --text-color: #353430;
  --heading-color: #FF0070;
}

.rec-label{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #F5F5F5;
  --accent-color: #FF8DCB;
  --accent-color__opacity: rgba(255, 141, 203, 0.4);;
  --double-accent-color: #FFC2E6;
  --text-color: #353430;
  --heading-color: #FF0070;
  }